.paramster{
  .ivu-form .ivu-form-item-label{
    color:#fff;
  }
  .ivu-input{
    background-color:transparent;
    color: #fff;
  }





  .ivu-tabs-content{
    background: #4c4e59;
  }
  >.ivu-tabs.ivu-tabs-card{
    >.ivu-tabs-content{
      height: 100%;
      >.ivu-tabs-tabpane{
        height: 100%;
        overflow: auto;
      }
    }
    >.ivu-tabs-bar{
      border:0;
      margin-bottom: 1px;
      position: absolute;
      left: 0;
      top: 0;
      width:100%;
      .ivu-tabs-nav-container{
        height: 42px;
      }
      .ivu-tabs-nav{
        width:100%;
        display: flex;
      }
      .ivu-tabs-tab{
        display: flex;
        felx:1 1 auto;
        width:500px;
        background: transparent;
        margin: 0;
        border-bottom: 1px solid #ddd;
        border-left: 0;
        color: #fff;
        border-radius: 0;
        height: 42px;
        padding-top: 10px;
        text-align: center;
      }
      .ivu-tabs-tab-active{
        background: #4c4e59;
        border-bottom: 0;
      }
    }

  }
}


.paramster{
  .paramster-content{
    color: #fff;
    background: #4c4e59;
    .ivu-collapse{
      background: transparent;
      border-left:  0;
      border-right: 0;
      border-color: #999;

      .ivu-collapse-header{
        color: #fff;
        background: transparent;
      }
      .ivu-collapse-content{
        color: #fff;
        background: transparent;
      }
    }

  }
}
